{
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "trailingComma": "all",
    "semi": false,

    "plugins": ["prettier-plugin-tailwindcss"]
}
